*.idea
*.lock
*.hds
*.cbb
*.ftl
*.riv
*.swp
*.ddn
*.tar
*.gz
*.gwv
b2
b3
b3r
temp
worker_*.*
continuing_source_modeling/scenarios
model_files/flow_2023_2125/100hr3_2023to2125.rch
scripts/output/boundary_conditions/
/model_packages/pred_2023_2125/rch/output/100hr3_2023to2125.rch
/mruns
/refs
scripts/del_download_river_stage/
sico/
layer_top_bot_ele*
model_packages/hist_2014_2023/riv/RiverCSV/*.csv
model_packages/hist_2014_2023/riv/archive
executables/linux/*
*.lock
/data/water_levels/fromJose/*
/data/water_levels/WaterLevel_CY2022/*
gis/ArcGISPro/100HR3/GpMessages/*
*.RData
.Rhistory