*.idea
*.hds
*.cbb
*.ftl
*.riv
*.ghb
*.swp
*.ddn
*.tar
*.gz
b2
b3
b3r
temp
worker_*.*
continuing_source_modeling/scenarios
model_files/flow_2023_2125/100hr3_2023to2125.rch
scripts/output/boundary_conditions/
/model_packages/pred_2023_2125/rch/output/100hr3_2023to2125.rch
/mruns
scripts/del_download_river_stage/
sico/
layer_top_bot_ele*
