# MODFLOW2000 Layer Property Flow (LPF) Package
        50  -9.990000e+002         0
  1  1  1  1  1  1  1  1  1
  0  0  0  0  0  0  0  0  0
  1.000000e+000  1.000000e+000  1.000000e+000  1.000000e+000  1.000000e+000  1.000000e+000  1.000000e+000  1.000000e+000  1.000000e+000
 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0
        79     1.000(10e15.6)                   -1     HYDRAULIC CONDUCTIVITY Layer   1
        80     0.100(10e15.6)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   1
        00 5.0000D-6(10e12.4)                   -1     PRIMARY STORAGE Layer   1
        00   .100000(10e12.4)                   -1     Sy Layer   1
        81     1.000(10e15.6)                   -1     HYDRAULIC CONDUCTIVITY Layer   2
        82     0.100(10e15.6)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   2
        00 5.0000D-6(10e12.4)                   -1     PRIMARY STORAGE Layer   2
        00   .100000(10e12.4)                   -1     Sy Layer   2
        83     1.000(10e15.6)                   -1     HYDRAULIC CONDUCTIVITY Layer   3
        84     0.100(10e15.6)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   3
        00 5.0000D-6(10e12.4)                   -1     PRIMARY STORAGE Layer   3
        00   .100000(10e12.4)                   -1     Sy Layer   3
        85     1.000(10e15.6)                   -1     HYDRAULIC CONDUCTIVITY Layer   4
        86     0.100(10e15.6)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   4
        00 5.0000D-6(10e12.4)                   -1     PRIMARY STORAGE Layer   4
        00   .100000(10e12.4)                   -1     Sy Layer   4
        00 .10000000(10e12.4)                   -1     HYDRAULIC CONDUCTIVITY Layer   5
        00 .01000000(10e12.4)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   5
        00 1.0000E-4(10e12.4)                   -1     PRIMARY STORAGE Layer   5
        00 .10000000(10e12.4)                   -1     Sy Layer   5
        00 .10000000(10e12.4)                   -1     HYDRAULIC CONDUCTIVITY Layer   6
        00 .01000000(10e12.4)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   6
        00 1.0000E-4(10e12.4)                   -1     PRIMARY STORAGE Layer   6
        00 .10000000(10e12.4)                   -1     Sy Layer   6
        00 .10000000(10e12.4)                   -1     HYDRAULIC CONDUCTIVITY Layer   7
        00 .01000000(10e12.4)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   7
        00 1.0000E-4(10e12.4)                   -1     PRIMARY STORAGE Layer   7
        00 .10000000(10e12.4)                   -1     Sy Layer   7
        00 .10000000(10e12.4)                   -1     HYDRAULIC CONDUCTIVITY Layer   8
        00 .01000000(10e12.4)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   8
        00 1.0000E-4(10e12.4)                   -1     PRIMARY STORAGE Layer   8
        00 .10000000(10e12.4)                   -1     Sy Layer   8
        87     1.000(10e15.6)                   -1     HYDRAULIC CONDUCTIVITY Layer   9
        88     0.100(10e15.6)                   -1     VERTICAL HYDRAULIC CONDUCTIVITY Layer   9
        00 1.0000E-4(10e12.4)                   -1     PRIMARY STORAGE Layer   9
        00 .10000000(10e12.4)                   -1     Sy Layer   9
 
